body {
  background-color: white;
  font-family: arial;
}

body .container {
  align-content: center;
    display: block;
    margin: 7vw;
  background-color: #e6e6e6;
  padding-top: 20px;
  border-radius: 3px;
}

.head1{
  font-size: 400%;
  text-align: center;


}


.head2{
  font-size: 180%;
  font-style: italic;
  text-align: center;

}


.content{
  padding-left: 20%;
  padding-right: 20%;
}


#dec{
  text-decoration: none;
  color: blue;
}

.pic{
  display: block;
  background-color: white;
  border-radius: 3px;
  margin: 0.5vw;
  text-align: center;
  padding-bottom: 1%;
}